NEXT_PUBLIC_SUPABASE_URL=https://vqtxvainkabzlefcowrf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_3aaR3kjX4ThD0YDL5e0jsA_e67h_F0V
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_3aaR3kjX4ThD0YDL5e0jsA_e67h_F0V